example/android/** linguist-detectable=false
example/ios/** linguist-detectable=false
example/web/** linguist-detectable=false
example/macos/** linguist-detectable=false
example/windows/** linguist-detectable=false